@import 'global.css';
@import 'layout.css';

.section{
  width: 100vw;
  overflow: hidden;

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  justify-content: center;

  position: relative;
}

.section .content {
  max-width: 42rem;
  width: 100%;
  word-spacing: 0.2rem;
}

@media print {
  .section {
    padding: 3rem 0;
  }

  .section .content {
    max-width: 100%;
  }
}

.section {
  margin-top: 12rem;
}

.content {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  line-height: 2.3rem;
}

ul{
  list-style: none;
}

ul.flex {
  -webkit-justify-content: center;
  justify-content: center;
}

ul.flex > li{
  margin: 0;
  font-size: 1rem;
  line-height: normal;
  padding: 1rem;
}

ul.flex li img {
  width: 120px;
}

#name{
  position: relative;
  overflow: visible;
  height: 35rem;
  margin:0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60e064+0,22b524+100 */
  background: rgb(96,224,100); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(96,224,100,1) 0%, rgba(34,181,36,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(96,224,100,1) 0%,rgba(34,181,36,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(96,224,100,1) 0%,rgba(34,181,36,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60e064', endColorstr='#22b524',GradientType=0 ); /* IE6-9 */

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%);

  /*-webkit-box-shadow: 0 0px 26px 16px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0px 26px 16px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 26px 16px rgba(0, 0, 0, 0.25);*/
}


#social img{
  width: 42px;
  height: 42px;
}

#social img.angellist {
  width: auto;
}
